/* css/login.css */
body {
    background-color: #036327; /* Verde oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ecf0f1; /* Contraste claro */
}

.card-body {
    padding: 2rem;
}

h3, h2 {
    color: #34495e; /* Color de texto */
}

.btn-primary {
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-primary:hover {
    background-color: #1f6391;
    border-color: #1f6391;
}